name: Push filters to Jira
on: 
  push:
    branches: main
jobs: 
  update-filters: 
    runs-on: ubuntu-latest
    env:
      JIRA_USER_EMAIL: ${{ secrets.PERSONAL_JIRA_INSTANCE_JIRA_ADMIN_USER_LOGIN_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.PERSONAL_JIRA_INSTANCE_JIRA_ADMIN_USER_API_TOKEN }}
      JIRA_BASE_URL: ${{ secrets.PERSONAL_JIRA_BASE_API_URL }}
    steps: 
      - name: Copy main branch to runner
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --requirement requirements.txt
      - name: Run script to update filters
        run: python scripts/apply_filters.py