name: Push filters to Jira
on: 
  push:
    branches: main
jobs: 
  update-filters: 
    runs-on: ubuntu-latest
    steps: 
      - name: Copy main branch to runner
        uses: actions/checkout@v4
        with:
          ref: main